body{
    background-color:#ffffff;
    color:RGB(25,100,210);
    color: rgba(rgb(255, 255, 255), green, blue, alpha);
}
p{
    color: rgb(0, 0, 0) ;
    font-size: 22px;
}
span{
    color: brown;
    font-size: 35px;
}
button{
    background-color: rgb(144, 182, 192);
    padding: 20px 20px 20px 20px;

}

table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border:1px solid grey;
    padding:10px;
}